doctype html
html
  head
    title Not the Saccharomyces Genome Database
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- Includes header.html into template
    header#layout-page-header
    #layout-page-header-content.row
      section#logo-section.small-4.columns
       a(href='/')
         .logo
           span.logo-label Not the Saccharomyces Genome Database

      //- logo section
      section#header-tools.small-7.small-offset-1.columns
       .row.header-links
         ul.site-links
           li
             a(href='/about') About
           li
             a(href='/blog') Blog
           li
             a(href='/download-data') Download
           li
             a(href='/site-map') Site Map
           li
             a(href='/help') Help
         ul.social-links
           li
             a#email-header.webicon.mail.x-small(href='/cgi-bin/suggestion', target='_blank') Email Us
           li
             a#twitter.webicon.twitter.x-small(href='http://twitter.com/#!/yeastgenome', target='_blank') Twitter
           li
             a#facebook.webicon.facebook.x-small(href='https://www.facebook.com/pages/Saccharomyces-Genome-Database-SGD/139140876128200', target='_blank') Facebook
           li
             a#youtube.webicon.youtube.x-small(href='https://www.youtube.com/channel/UCnTiLvqP2aYeHEaJl7m9DUg', target='_blank') YouTube
           li
             a#rss.webicon.rss.x-small(href='/feed', target='_blank') RSS

       .row.header-search
         form#searchform(action='/search', autocomplete='off', method='get')
           #top-search-input-container.row.collapse
               input#txt_search(name='query', type='text', placeholder='Search', autocomplete='off')

         #adv-search-links
           | YeastMine:
           a(href='http://yeastmine.yeastgenome.org/yeastmine/bag.do') Batch Analysis
           | or
           a(target='_blank', href='http://yeastmine.yeastgenome.org/yeastmine/begin.do') Advanced Search

       .row
         block content
    script(type='text/javascript' src='/js/application.js')

